@font-face {
    font-family: 'BYekan';
    src: url('/../fonts/BYekan-webfont.eot') format('eot');
    src: url('/../fonts/BYekan-webfont.woff') format('woff');
    src: url('/../fonts/BYekan-webfont.ttf') format('truetype');
   font-weight: normal;
  }
  
body{
    direction: rtl;
    font-family: 'BYekan';
    margin:0;
    padding:5px 0 80px 0;
    background-color:#1b1b1b;
}

.LastModified{
    margin: 0 auto;
    width:100%;
    background-color: #9E2A2B;
    text-align:center;
    color:#fff;
    padding:20px 0;
    position: fixed;
    bottom:0;
}

.Currency, .Gold{
    background: #232323;
    margin:0 auto;
    width:50%;
    color:#fff;
    padding:0;
    display: flex;
    justify-content: space-between;
    border-bottom:2px solid #eee ;
    border-top:1px solid #eee ;
    border-bottom:1px solid #eee ;
}

.Gold {
    background: #E09F3E;
}



.BuySell, .Name{
    display: flex;
    flex-flow: column;
}

.BuySell{
    text-align: left;
}

.nameBottom{
    padding:10px 10px;
    border-right:5px solid #eee;
}

.nameBottom2{
    padding:32px 10px;
    border-right:5px solid #eee;
    justify-self:center;
    height:100%;
}

.buybottom, .sellbottom{
    border-left:5px solid #008000;
    padding:10px 5px;
}

.sellbottom{
    border-left:5px solid #ae0000;
}







.Items{
    background: #383838;
    margin:0 auto;
    width:50%;
    color:#fff;
    padding:0;
    display: flex;
    justify-content: center;
    border-top:1px solid #eee ;
    border-bottom:1px solid #eee ;
}

.Item{
    display: flex;
    flex-flow: column;
    width:50%
}

.itemButton{
    border-left:5px solid #eee;
    padding:20px 5px;
}
.nameItemBottom{
    padding:20px 0px;
    border-right:5px solid #eee;
    text-align:left;

}

@media only screen and (max-width:1200px) {
    .Items, .Currency, .Gold {
        width:96%;
    }
}
