@font-face {
    font-family: 'BYekan';
    src: url('/../fonts/BYekan-webfont.eot') format('eot');
    src: url('/../fonts/BYekan-webfont.woff') format('woff');
    src: url('/../fonts/BYekan-webfont.ttf') format('truetype');
   font-weight: normal;
  }
  
body{
    direction: rtl;
    font-family: 'BYekan';
    margin:0;
    padding:0;
    background-color:#fff;
}

.LastModified{
    margin: 0 auto;
    width:100%;
    background-color: #9E2A2B;
    text-align:center;
    color:#fff;
    padding:10px 0;
    position: fixed;
    bottom:0;
}